body{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url(https://wallpapers.com/images/featured/fundo-azul-e-branco-2du4cmkco1yvjtzr.jpg);
    text-align: center;
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

h1{
    color: rgb(255, 255, 255);
}

h2{
    color: rgb(247, 249, 250);
}